<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>strategy</title>
<script src="/files/analyze/view/js/jquery-3.1.1.min.js"></script>
<script src="/files/analyze/view/js/highstock.js"></script>
<script type="text/javascript">
var chart=null;
$(document).ready(function() {
    Highcharts.setOptions({
        global: {
            timezoneOffset: -24 * 60
       }
    });
    chart = Highcharts.stockChart('container', {
        legend: {
            enabled: true
        },
        chart: {
            height: '680px',
        },
        rangeSelector: {
            enabled: false
        },
        tooltip: {
            crosshairs: [true, true],
            xDateFormat: '%Y-%m-%d',
            split: true
        },
        title: {
            text: '行情统计'
        },
        xAxis: [{
            type: 'datetime',
            xDateFormat: '%Y-%m-%d',
            title: {
                text: 'earnings'
            }
//                ,
//                min: _mDate_
        }, {}],
        yAxis: [
            { // Primary yAxis
                labels: {
                    style: {
                        color: "#6e83eb"
                    }
                },
                title: {
                    text: 'earnings',
                    style: {
                        color: "#6e83eb"
                    }
                },
                opposite: true

            }, { // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'candlestick',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                labels: {
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                }

            }, { // Tertiary yAxis
                gridLineWidth: 0,
                top: '85%',
                height: '15%',
                title: {
                    text: 'volume',
                    style: {
                        color: '#434348'
                    }
                },
                labels: {
                    style: {
                        color: '#434348'
                    }
                }
            }, { // Tertiary yAxis
                gridLineWidth: 0,
                top: '85%',
                height: '15%',
                title: {
                    text: 'odds',
                    style: {
                        color: '#434348'
                    }
                },
                labels: {
                    style: {
                        color: '#434348'
                    }
                }
            }
        ],
        series: [
            {
                name: "up",
                showInNavigator: true,
                zIndex: 9,
                yAxis: 0,
                lineWidth: 2,
                data: _up_,
                color: '#00eba5',
                step: false,
                connectNulls: false,
                tooltip: {
                    valueDecimals: 2
                }
            }, {
                name: "down",
                showInNavigator: true,
                zIndex: 9,
                yAxis: 0,
                lineWidth: 2,
                data: _down_,
                color: '#8d526f',
                step: false,
                connectNulls: false,
                tooltip: {
                    valueDecimals: 2
                }
            }, {
                name: "us",
                showInNavigator: true,
                zIndex: 9,
                yAxis: 0,
                lineWidth: 2,
                data: _us_,
                color: '#434348',
                step: false,
                connectNulls: false,
                tooltip: {
                    valueDecimals: 2
                }
            }, {
                name: "ds",
                showInNavigator: true,
                zIndex: 9,
                yAxis: 0,
                lineWidth: 2,
                data: _ds_,
                color: '#6e83eb',
                step: false,
                connectNulls: false,
                tooltip: {
                    valueDecimals: 2
                }
            }, {
                name: "u5",
                showInNavigator: true,
                zIndex: 9,
                yAxis: 0,
                lineWidth: 2,
                data: _u5_,
                color: '#9867ec',
                step: false,
                connectNulls: false,
                tooltip: {
                    valueDecimals: 2
                }
            }, {
                name: "d5",
                showInNavigator: true,
                zIndex: 9,
                yAxis: 0,
                lineWidth: 2,
                data: _d5_,
                color: '#ec717f',
                step: false,
                connectNulls: false,
                tooltip: {
                    valueDecimals: 2
                }
            }
        ]
    });
});
</script>
</head>
<body>
<div id="container" style="height: 700px; min-width: 310px"></div>
</body>
</html>